.App {
  /* text-align: center; */
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  height: 100vh;
}
.inputs {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #93fc83;
}
body {
  margin: 0px;
  padding: 0px;
}
.inputs input {
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin: 30px;
  padding-left: 10px;
}
.inputs button {
  border: none;
  height: 50px;
  width: 150px;
  background-color: green;
  color: white;
}
.inputs button:hover {
  cursor: pointer;
}
